body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#question-container {
    text-align: left;
    margin-bottom: 20px;
}

#question-number {
    font-weight: bold;
    font-size: 18px;
}

#question-text {
    font-size: 18px;
    margin-top: 10px;
}

#options-form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.button-container {
    text-align: center;
}

#score {
    font-weight: bold;
    margin-top: 10px;
}

